.background {
    background: url('hdtrees.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 110vh;
    position: relative;
}

html {
    font-size: 62.5%;
}

.circle_container {
    display: flex;
    justify-content: center;
}
.white_circle {
    background-color: rgba(47, 26, 20, 0.85);
    height: 43rem;
    width: 43rem;
    border-radius: 50%;
    z-index: 6;
    filter: blur(3px);
    margin-top: 12rem;
}

.black_tint {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}

.wave-background {
    margin-top: -24rem;
    position: relative;
    z-index: 3;
    padding: 0;
}

.nadine {
    position: relative;
    color: white;
    z-index: 7;
    font-family: 'Beau Rivage', cursive;
    font-size: 4.5em;
    text-align: center;
    margin-top: -36rem;
}

.paragraph_container {
    display: flex;
    justify-content: center;
    margin-top: -4rem;
}

.para {
    text-align: center;
    position: relative;
    color: white;
    z-index: 7;
    font-size: 1.4em;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    line-height: 4rem;
    width: 26%;
}

.logo {
    font-family: 'Beau Rivage', cursive;
    font-size: 5em;
    margin: -3rem 0rem 0rem 3rem;
}

.logo a {
    text-decoration: none;
    color: white;
}

.navbar {
    color: white;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: none;
    background-color: none; 
}

.navbar ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    color: white;
    margin-top: -3rem;
}

.navbar 
.others {
    text-decoration: none;
    padding-right: 1.5rem;
    margin-right: 3rem;
    display: inline-block;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 2.5em;
    font-weight: 100;
    width: 12rem;
}

.navbar a:hover {
    font-weight: 400;
    cursor: pointer;
}

.navbar li {
    float: right;
}

.main_container {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.second_section {
    background: linear-gradient(to bottom, #9C7758, #9C7758, #EED1B3);
    height: 152vh;
    margin-top: -8rem;
    padding: 0;
}

.what_we_offer {
    font-family: 'Beau Rivage', cursive;
    color: white;
    font-size: 9em;
    text-align: center;
    position: relative;
    z-index: 8;
    margin-top: 4rem;
}

.offer_desc {
    font-family: 'Poppins', sans-serif;
    color: white;
    line-height: 5.5rem;
    font-size: 1.8em;
    width: 65%;
    text-align: center;
    font-style: italic;
    margin: auto;
    margin-top: -6rem;
}

.second_img {
    margin-top: 5rem;
    display: flex;
    justify-content: space-around;
}

.second_img img {
    height: auto;
    width: 28em;
    border-radius: 10px;
    box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.5);
}

button {
    background-color: #C5936A;
    color: white;
    border-style: none;
    padding: 1.2em;
    font-family: 'Poppins', sans-serif;
    font-size: 2.5em;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    margin-top: 8rem;
}

button:hover {
    background-color:  #886448;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
}

.book {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hidden {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 2s ease-out, transform 2s ease-out;
}

.show {
    opacity: 1;
    transform: translateY(0);
}

/* @media (min-width: 768px) {
  .section {
    padding: 4rem;
  }
}

@media (min-width: 1024px) {
  .section {
    padding: 6rem;
  }
}

@media (min-width: 768px) {
  .para {
    padding: 3rem;
  }
}

@media (min-width: 1024px) {
  .para {
    padding: 4rem;
  }
} */
