
html {
    font-size: 62.5%;
}

html, body {
    margin: 0;
    padding: 0;
}

.logo {
    font-family: 'Beau Rivage', cursive;
    font-size: 5em;
    margin: -3rem 0rem 0rem 3rem;
}

.logo a {
    text-decoration: none;
    color: white;
}

.navbar {
    color: white;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: none;
    background-color: none; 
}

.navbar ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    color: white;
    margin-top: -3rem;
}

.navbar 
.others {
    text-decoration: none;
    padding-right: 1.5rem;
    margin-right: 3rem;
    display: inline-block;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 2.5em;
    font-weight: 100;
    width: 12rem;
}

.navbar a:hover {
    font-weight: 400;
    cursor: pointer;
}

.navbar li {
    float: right;
}


/* FIRST SECTION CSS */

.background_img {
    background: url('white-flowers.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 128vh;
    width: 100%;
    position: relative;
    filter: blur(2px);
}

.black_tint {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    height: 128vh;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}

.package_container {
    filter: blur(0px);
    z-index: 2;
}

.packages {
    color: white;
    font-family: 'Beau Rivage', cursive;
    font-size: 80px;
    position: relative;
    z-index: 2;
    text-align: center;
    padding-top: 2rem;
}

.kimage {
    height: 25.4em;
    width: auto;
    border-radius: 1em 1em 0em 0em;
}

.wedding, .price, .list {
    color: white;
    font-family: 'Poppins', sans-serif;
}

.wedding {
    text-align: center;
    font-size: 2em;
}

.price {
    text-align: center;
    font-weight: 700;
    font-size: 1.8em;
}

.list {
    line-height: 3rem;
    font-size: 1.4em;
    font-weight: 100;
    padding: 0rem 2rem 0rem 6rem;
}

.black {
    background-color: #382A24;
    height: 30rem;
    width: 30rem;
    border-radius: 1em 1em 1em 1em;
}

.background {
    display: flex;
    flex-direction: column;
}

.first_card {
    position: relative;
    z-index: 3;
}

.first_row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: -50px;
}

/* SECOND SECTION CSS */

.second_section {
    background-color: #1D1611;
}




















.hidden {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 2s ease-out, transform 2s ease-out;
}

.show {
    opacity: 1;
    transform: translateY(0);
}