.background {
    background: url('hdfloral.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 95vh;
    width: 100%;
    position: relative;
    filter: blur(2px);
}

html {
    font-size: 62.5%;
}

html, body {
    margin: 0;
    padding: 0;
}

.black_tint {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}

.logo {
    font-family: 'Beau Rivage', cursive;
    font-size: 5em;
    margin: -3rem 0rem 0rem 3rem;
}

.logo a {
    text-decoration: none;
    color: white;
}

.navbar {
    color: white;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: none;
    background-color: none; 
}

.navbar ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    color: white;
    margin-top: -3rem;
}

.navbar 
.others {
    text-decoration: none;
    padding-right: 1.5rem;
    margin-right: 3rem;
    display: inline-block;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 2.5em;
    font-weight: 100;
    width: 12rem;
}

.navbar a:hover {
    font-weight: 400;
    cursor: pointer;
}

.navbar li {
    float: right;
}

#nadine-bio-container {
    display: flex;
    align-items: center;
}

.nadine_bio {
    display: flex;
    align-items: center;
    color: white;
    position: absolute;
    z-index: 2;
    font-family: 'Poppins', sans-serif;
    width: 45%;
    text-align: center;
    margin-left: 10rem;
    font-weight: 100;
    line-height: 4rem;
    font-size: 2em;
}

.signature {
    color: white;
    position: absolute;
    z-index: 2;
    font-family: 'Beau Rivage', cursive;
    margin-top: 40rem;
    margin-left: 32rem;
    font-size: 6em;
}

.bio_images img {
    height: 250px;
    width: auto;
    position: absolute;
    z-index: 5;
    border-radius: 15px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

#first_pic {
    margin-top: -14rem;
    margin-left: -52rem;
}

#second_pic {
    margin-right: 15rem;
    margin-left: -32rem;
}

.second_bg {
    background: #9F7657;
    height: auto;
    width: auto;
    margin-top: -7rem;
}

.expertise {
    color: white;
    position: relative;
    font-family: 'Beau Rivage', cursive;
    font-size: 6.5em;
    text-align: center;
    padding-top: 5rem;
}

.desc {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    font-size: 1.4em;
}

/* .experience {
    width: 38%;
    text-align: center;
    margin-left: 80px;
    line-height: 35px;
} */

.white_line_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.white_line {
    background-color: white;
    width: 1px;
    height: 34rem;
    margin-top: 24rem;
    position: absolute;
}

.main_expertise_container {
    display: flex;
}

.experience {
    width: 38%;
    text-align: center;
    margin-left: 8rem;
    line-height: 3.5rem;
    margin-top: -2rem;
    font-size: 1.4em;
    position: relative;
}

.list_container {
    width: 100%;
    font-size: 1.2em;
    line-height: 3.2em;
    margin-left: -52rem;
    margin-top: -4rem;
}

.approach {
    color: white;
    font-family: 'Beau Rivage', cursive;
    font-size: 6.5em;
    text-align: center;
    padding-top: 4rem;
}

.mission {
    color: white;
    font-size: 1.8em;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    text-align: center;
    width: 70%;
    margin-top: -3rem;
    /* margin-left: 20rem; */
    line-height: 4rem;
}

.mission_container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
}

.hidden {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 2s ease-out, transform 2s ease-out;
}

.show {
    opacity: 1;
    transform: translateY(0);
}